.accordion {
	max-width: 500px;
	margin: 1em auto;
}

.accord-item  {
	border: 1px solid deepskyblue;
}

.meme-title {
	display: block;
	cursor: pointer;
	padding: 0.5em 1em;
	font-size: 1.2em;
	transition: background-color .5s ease-out;

}

.meme-input {
	width: 0;
	height: 0;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}

.meme-img-wrapper img {
	width: 100%;
}

.meme-title:hover {
	background-color: deepskyblue;
}

.meme-input:checked ~ .meme-img-wrapper {
	display: block;
}

.meme-input:checked ~ .meme-title {
	background-color: deepskyblue;
}

.meme-img-wrapper {
	display: none;
}